<configuration debug="false">
    <property name="USER_HOME" value="/home/prabha/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <File>${USER_HOME}/spt.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${USER_HOME}/spt.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>